
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 80px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.navbar {
    background-color: #078888;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.nav-container {
    display: flex;
    gap: 53rem;
    align-items: center;
}

.navbar .logo {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}


li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

li a:hover {
    color: #ddd;
}


h1 {
    color: #333;
}

p {
    font-size: 18px;
    color: #555;
}